a {
    cursor: pointer;
}

.month-header {
    cursor: pointer;
}

.selection-highlight {
    background-color: grey !important;
}

.report-content-additional-info {
    float: right;
}

#table-container {
    padding-top: 70px;
}